{% extends 'base.html' %}

{% block title %}Home | Senmi{% endblock %}

{% block content %}


<div class="container py-5">

    <div class="text-center mb-5" style="color: #581C87;">
        <h1>Contact Us</h1>
        <p class="text-muted">
            We'd love to hear from you.
        </p>
    </div>

    <div class="row g-5">

        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">

                    <h3 class="mb-4" style="color: #581C87;">Send a Message</h3>

                    <form>
                        <div class="mb-3">
                            <label class="form-label">Full Name</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Email Address</label>
                            <input type="email" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Message</label>
                            <textarea class="form-control" rows="5"></textarea>
                        </div>

                        <button class="btn w-100 text-white"
                                style="background-color: #581C87; border-color: #581C87;">

                            Send Message
                        </button>
                                            </form>

                </div>
            </div>
        </div>

        <div class="col-md-6">

            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h3  style="color: #581C87;">Who We Are</h3>

                    <p>
                        Senmi is a delivery platform focused on providing reliable,
                        fast, and secure delivery services for customers and businesses.
                    </p>

                    <p>
                        Our mission is to make logistics easier through technology
                        and trusted riders.
                    </p>
                </div>
            </div>

            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 style="color: #581C87;">Contact Information</h3>

                    <p><strong>Email:</strong> senmisupport@gmail.com</p>
                    <p><strong>Phone:</strong> +234 701 608 7680</p>
                    <p><strong>Location:</strong> Karimu Street, Lagos, Nigeria</p>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}